$primary-color: #50c84a;
$secondary-color: #888;
$invalid-color: #e13535;
$brown-color: #a52a2a;
$white-color: #fff;
$dark-white-color: #ddd;
$cold-white-color: #eee;
$snow-white-color: #FAFAFA;
$pearl-color: #ccc;
$black-color: #000;
$midnight-color: #000C2F;
$gray-color: #3d3c3c;

$control-height: 32px;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

$font-size-sm: 10px;
$font-size-md: 16px;
$font-size-lg: 18px;
$line-height-sm: 10px;
$line-height-lg: 32px;

$indent-xxs: 8px;
$indent-xs: 10px;
$indent-sm: 12px;
$indent-md: 16px;
$indent-lg: 24px;
$indent-xl: 32px;
